.main__form{
  position: sticky;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  flex-direction: column;
  column-fill: balance;
  column-count: 2;
}

.main__form .input {
  display: inline-block;
  width: auto;
  margin: 5px 15px 0px 15px;
  height: 40px;
  flex-grow: 1;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #dddddd;
  border-radius: 10px;
}
.main__form .input--space {
  padding-left: 10px;
}
.main__form .input:hover {
  border-color: lightgreen;
}
.main__form .input:focus {
  outline: none !important;
  border: 1px solid lightgreen;
  box-shadow: 0 0 10px #719ECE;
}
.main__form .message {
  display: inline-block;
  text-align: end;
  flex-grow: 1;
  height: 50%;
}
.main__form .message__button {
  text-align: center;
  width: 35px;
  height: 35px;
  margin: 0 15px 0 0;
  border: 1px solid;
  border-color: #dddddd;
  background-color: white;
  background-repeat: no-repeat;
  background-size: 50% 50%;
  background-position: center;
  background-image: url("../../assets/iconmonstr-angel-right-thin.svg");
  cursor: pointer;
  border-radius: 10px;
}

