.main__header {
  border-bottom: solid 1px;
  justify-self: flex-start;
  flex-shrink: 0;
  border-color: #dddddd;
  display: grid;
  width: 100%;
  height:40px;
  grid-template-columns: 105px 56% 22% 14%;
  grid-template-areas: "first second third last";
  background-color: #c6baff;
}

.main__header .row-1 {
  background-color: #ffffff;
  border: none;
  grid-area: first;
  cursor: pointer;
  width: 100%;
  height: 40px;
  text-align: center;
  background-image: url("../../assets/menu.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  background-color: #c6baff;
}

.main__header .row-2 {
  text-align: center;
  line-height: 40px;
  height: 40px;
  cursor: pointer;
  grid-area: second;
  background-color: #c6baff;

}

.main__header .row-3 {
  background-color: #c6baff;
  grid-area: third;
  height: 40px;


}
.main__header .row-3__input {
  box-sizing: border-box;
  width: 100%;
  height: 34px;
  border: 1px solid rgb(153, 153, 153);
  margin: 3px 10px 3px 0px;
  border-radius: 10px;
  text-align: center;
}
.main__header .row-3__input:focus {
  outline: none !important;
  border: 1px solid lightgreen;
  box-shadow: 0 0 3px #719ECE;
}



.main__header .row-4 {
  background-color: #c6baff;
  font-size: 14px;
  font-weight: lighter;
  text-align: center;
  line-height: 30px;
  background-color: #ffffff;
  grid-area: last;
  cursor: pointer;
  height: 30px;
  border-radius: 10px;
  border: 1px solid rgb(153, 153, 153);
  margin: 3px 10px 3px 10px;
}

.sidenav {
  height: 100%;
  width: 30%;
  position: fixed;
  z-index: 1;
  top: 0;
  background-color: #eca8f9;
  overflow-x: hidden;
  padding-top: 60px;
  font-weight: 200;
}



.sidenav a:hover {
  color: #c6baff;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: #5eabf6;
}

.sidenav__channel {
  background-color: #eca8f9;
  color: #080808;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;

}

.active, .sidenav__channel:hover {
  background-color: #c6baff;
}

@media screen and (max-height: 481px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}
@media only screen and (min-device-width: 481px) and (max-device-width: 700px) {
  .sidenav {
    width: 70%;
  }
  .main__header{
    grid-template-columns: 105px 40% 18% 22%;
  }
}
@media only screen and (max-device-width: 480px) {
  .main__header{
    grid-template-columns: 105px 28% 30% 20%;
  }
  .sidenav {
    width: 70%;
  }
}
@media only screen and (min-device-width: 701px) and (max-device-width: 1200px) {
  .main__header{
    grid-template-columns: 105px 45% 18% 22%;
  }
}


