.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgb(25, 22, 130) 0%, rgba(61,61,152,1) 37%, rgba(0,212,255,1) 100%);
}
.form{
  background-color: #4d4c90;
  flex-basis: 60%;
  border-radius: 9px;
}
.form__items{
  display: flex;
  flex-direction: column;
}
.form__items__h1{
  align-self: stretch;
  text-align: center;
  color:white;
  background-color: #3c3c84;
  margin-top:0;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  font-size: xxx-large;
  font-weight: normal;
  padding: 20px 0 20px;
}
.form__items__p{
  align-self: center;
  color: white;
}
input[type=text]{
  align-self: center;
  width:36%;
  height:22px;
  border-radius: 9px;
}
input[type=password]{
  align-self: center;
  width:36%;
  height:22px;
  border-radius: 9px;
}
.form__items__checkbox{
  align-self: center;
  text-align: center;
  width:40%;
}
.form__items__button{
  align-self: center;
  box-shadow: 10px 6px 20px -7px #3e7327;
  background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
  background-color:#77b55a;
  border-radius:5px;
  border:1px solid #4b8f29;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:13px;
  font-weight:bold;
  padding:10px 35px;
  text-decoration:none;
  text-shadow:0px 1px 0px #5b8a3c;
}
.form__items__button:hover {
  background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
  background-color:#72b352;
}
.form__items__button:active {
  position:relative;
  top:1px;
}
@media only screen and (max-width: 500px) {
  .form {
    background-color: #4d4c90;
    flex-basis: 100%;
    align-self: stretch;
  }
}
.form__items__checkbox__text{
  color: white;

}
.form__items__a{
  align-self: center;
  color: aliceblue;
}
.form__items__hr{
  border:none;
  border-top:1px #55ff00;
  color:#fff;
  background-color: #889487;
  height:1px;
  width:55%;
}
